<div class="container-fluid">
    <form #regForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label>Name</label>
            <input type="text" required class="form-control" [(ngModel)]="student.studentName" name="studentName" #nameInput="ngModel">
            <small class="error-text" [class.d-none]="nameInput.value||nameInput.untouched" >Name is required</small>
        </div>
        <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" required email class="form-control" [(ngModel)]="student.email" name="email" #emailInput="ngModel">
            <small class="error-text" [class.d-none]="emailInput.valid||emailInput.untouched" >Email is required</small>
        </div>
        <div class="form-group mb-3">
            <label>Phone</label>
            <input type="text" required pattern="^\d{10}$" class="form-control" [(ngModel)]="student.phone" name="phone" #phoneInput="ngModel">
            <small class="error-text" [class.d-none]="phoneInput.valid||phoneInput.untouched" >10 Digit phone is required</small>
        </div>
        <div class="form-group mb-3">
            <label>Course Name</label>
            <select [(ngModel)]="student.courseName" name="courseName" >
                <option value="default"> Register me for </option>
                <option *ngFor="let course of courses" value="{{course}}">{{course}}</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label>Slot</label>
            <div class="form-check">
                <input type="radio" name="slot" value="morning" class="form-check-input" [(ngModel)]="student.slot">
                <label class="form-check-label">Morning</label>
            </div>
            <div class="form-check">
                <input type="radio" name="slot" value="evening" class="form-check-input" [(ngModel)]="student.slot">
                <label class="form-check-label">Evening</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" name="notify" [(ngModel)]="student.notify">
            <label class="form-check-label">NOtify Me</label>
        </div>

        <button class="btn btn-primary" [disabled]="submitted">Register</button>
    </form>
</div>
<p>{{student|json}}</p>