<h1>shanatnu in uppercase: {{'shantanu'|uppercase}}</h1>
<h1>SHANTANU in lowercase: {{'SHANTANU'|lowercase}}</h1>
<h1>shanatnu in titlecase: {{'shantanu'|titlecase}}</h1>
<p>{{employee|json}}</p>
<h2>{{0.25|percent}}</h2>
<h2>{{0.25|currency}}</h2>
<h2>{{0.25|currency:'INR'}}</h2>
<h2>{{0.25|currency:'GBP'}}</h2>
<h2>{{date}}</h2>
<h2>{{date|date}}</h2>
<h2>{{date|date:'short'}}</h2>
<h2>{{date|date:'medium'}}</h2>
<h2>{{9.876|number:'1.0-1'}}</h2>
<h2>{{'angular'|slice:2:5}}</h2>

<h2>{{'angular is good framework'|length}}</h2>
<h2>{{2|power:8}}</h2>